h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: Lato;
  color: #f9f6ee;
}

.main-bkg {
  background-color: #355070 !important;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.guruAvatar {
  text-align: -webkit-center;
  width: '80%';
  padding-top: 2em;
  padding-bottom: 2em;
}

.shadow {
  -webkit-box-shadow: 10px 10px 19px 1px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 10px 10px 19px 1px rgba(0, 0, 0, 0.92);
  box-shadow: 10px 10px 19px 1px rgba(0, 0, 0, 0.92);
}

.guruAvatarImage {
  width: 256px;
  height: 256px;
  border-radius: 10px;
}

.dream-instructions {
  font-size: x-large;
  line-height: 1vh;
  text-align: center;
  font-family: 'Roboto';
}

.dreamButton {
  width: 256px;
  height: 256px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  border-radius: 100%;
}
